<section>
    <h2 id="about-me">About</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>Za Exec is a chauffeur and luxury travel company based in Ireland. We specialise in Executive and VIP hire
            and operate all over the country of Ireland, offering a wide range of services – each guaranteed that you
            will travel with comfort, security, and professionalism. We ensure that no matter what your travel needs
            may be – from Airport transfers, Debs events, to funeral transport, to private tours around the country,
            corporate transport, graduation hire, Wedding hire – we at Za Exec will be able to fulfil it.</p>
        <p>We offer a range of vehicles for hire including the Mercedes Benz E class, the Mercedes Benz Viano, and the Mercedes Benz Sprinter (13 and 16 seater).</p>

        <p>Our range of on board facilities includes but is not limited to
            <ul>
                <li>Credit Card facility</li>
                <li>Wi-Fi facility</li>
                <li>First Aid Kit</li>
                <li>Fire Extinguishers</li>
                <li>Android Phone Charger</li>
                <li>iPhone Charger</li>
                <li>Irish Spring Water</li>
                <li>Newspaper</li>
                <li>Rain Ponchos</li>
            </ul>
        </p>
        <p>Our drivers are local and knowledgeable of the country and maintain an atmosphere of professionalism and positive attitude at all times. Travel right, with Za Exec.</p>
        <p>We remain in constant mobile-phone communication at all times, ensuring that our vehicle will be where you
            want it, when you want it.</p>
        <p>Both our vehicles and drivers are licensed by the Irish Transport Authority, and are also insured as public service vehicles for hire.
        </p>
    </div>
    <div class="skill-lock"></div>
</section>