<section>
    <h2 id="about-me">About</h2>
    <hr class="bar"/>
    <div class="blurb">
        <p>
                Za Exec is a chauffeur and luxury travel company based in Ireland. 
                We specialise in Executive and VIP hire and operate all over the country of Ireland, 
                offering a wide range of services – each guaranteed that you will travel with comfort, 
                security, and professionalism. We ensure that no matter what your travel needs may be – 
                from Airport transfers, Debs events, to funeral transport, to private tours around the country, 
                corporate transport, graduation hire, Wedding hire – we at Za Exec will be able to fulfil it.
        </p>
    </div>
    <div class="skill-lock"></div>
</section>