<section>
    <h2 id="about-me">About</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>ZA Exec are available for transfers to and from the following airports; Shannon Airport, Cork Airport and
            Dublin Airport.</p>
        <p>We promise to meet you at the arrival gate and transport clients to wherever your destination may be in
            stylistic, comfortable and secure conditions.</p>

        <p>It is of paramount importance that our clients travel stress-free. We will keep up with your flight times
            vigilantly, while our impeccably presented
            chauffeurs will make sure to secure your luggage in the vehicle with the focus of ensuring that any
            potential damage is as minimized as can possibly be.</p>
        <p>We understand that each client has a different preference to how they would like to travel, and while our
            chauffeurs are all friendly and
            knowledgeable about the country of Ireland, they are sensitive to the fact that you may want to travel in
            silence.</p>
        <p>We remain in constant mobile-phone communication at all times, ensuring that our vehicle will be where you
            want it, when you want it.</p>
        <p>What are you waiting for? Start off your trip in style and luxury with ZA Exec.
        </p>
    </div>
    <div class="skill-lock"></div>
</section>