<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">

<section>
    <h2 id="about-me">Services</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div class="glyph-icon flaticon-glyphicon-user">
            <i class="fas fa-car-side"></i>
        </div>
        <div class="glyph-icon glyphicon-road">
            <i class="fas fa-road"></i>
        </div>
        <div class="glyph-icon glyphicon-headphones">
            <i class="fas fa-plane"></i>
        </div>
        <div class="glyph-icon flaticon-glyphicon-plane">
            <i class="fas fa-car"></i>
        </div>
    </div>
    <div class="blurb">
        <p>Mercedes Benz E class, see what we offer below
        </p>
    </div>
    <div class="skill-lock"></div>
</section>