<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links"><a href="https://www.facebook.com/zaexec/">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a><a href="linkedin.com/in/zahid-abdullah-329033163">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a><a href="https://twitter.com/zaexecs">
            <div class="glyph-icon flaticon-twitter"></div>
        </a><a href="https://www.youtube.com">
            <div class="glyph-icon flaticon-phone"></div>
        </a></div>
    <hr class="bar" /><a href="mailto:zaexecs@gmail.com" class="biglink" style="font-size: 72px !important;">zaexecs@gmail.com</a>
    <hr class="bar" /><a class="biglink" style="font-size: 72px !important;">zaexecs@gmail.com</a>
</section>