<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links"><a href="https://www.facebook.com/zaexec/">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a><a href="linkedin.com/in/zahid-abdullah-329033163">
            <div class="glyph-icon flaticon-linkedin"></div>
        </div>
    <hr class="bar" />
    <a href="mailto:zaexecs@gmail.com" class="biglink" style="font-size: 72px !important;">zaexecs@gmail.com</a>
    <a class="biglink" style="font-size: 72px !important;">+353 85 226 1932</a>
</section>