<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links">
        <a href="https://www.facebook.com/zaexec/" target="_blank">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="https://linkedin.com/in/zahid-abdullah-329033163" target="_blank">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a>
        <a href="https://twitter.com/zaexecs" target="_blank">
            <i class="fab fa-twitter" style="font-size: 60px;"></i>
        </a>
    </div>
    <hr class="bar" />
    <div class="social-links" style="margin-bottom: 10px;">
        <a href="mailto:zaexecs@gmail.com" class="biglink" style="font-size: 72px !important; width: 100%;">zaexecs@gmail.com</a>
    </div>
    <div class="social-links" style="margin-bottom: 40px;">
        <a class="biglink" style="font-size: 72px !important; ">+353 85 226 1932</a>
    </div>
</section>