<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experience</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture" /></div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Wedding Services</h2>
                <P>We have a luxury wedding car service that is available in the Limerick, Clare and Galway areas. Our
                    Mercedes E Class is the perfect car for you to arrive on your special day in style and comfort.
                    Complimentary champagne will be provided as a celebratory toast to your big day.
                    We offer not just one vehicle, but a number of vehicles which would be suitable for transporting a
                    some of your guests or bridesmaids and groomsmen including 2 Mercedes E class vehicles, and two
                    7-seater Mercedes Viano’s.
                    Get in touch with ZA Exec today to discuss pricing options for our fleet of luxury wedding
                    vehicles.
                </P><span class="cd-date"></span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College" /></div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Corporate Services</h2>
                <p>We at Za Exec present an excellent service to the corporate sector. Our drivers are all top class
                    and experienced chauffeurs and are available 24/7 all over the country. In the event of a longer
                    journey, our drivers will ensure that there are bottles of water, fresh fruit, newspapers and
                    blankets on board the vehicle.
                    Our drivers are knowledgeable about the country and will certainly be able to offer suggestions
                    regarding recreational activities to our valued corporate clients.
                </p><span class="cd-date"></span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture" /></div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Tours</h2>
                <p>If you intend on touring Ireland in style and luxury, Za Exec offers a specialised and individual
                    tour service specifically designed to cater to your needs. Prior to your trip, we will organise a
                    detailed list of all the wonderful sites and attractions that Ireland has to offer.
                    Ireland is a country that is full of beautiful rural villages, gorgeous landscape and magnificent
                    and ancient architecture. While we have pre-existing tours, we intend on working closely with our
                    clients to ensure that you will get the tour of a lifetime that closely reflects what you would
                    like to see and do.
                    Our tours allow you travel Ireland in security and comfort, this is of paramount importance to Za
                    Exec. Using GPS services, comfortable and luxurious cars, and our splendid chauffeurs, we promise
                    to provide a tour that is nothing short of excellent.
                    Be it a site-seeing Day Trip, or a Shopping Outing, plan your tour right with Za Exec.
                </p><span class="cd-date">May 2013 - September 2014</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>